a, .btn-link {
    text-decoration: none;
    vertical-align: top;
}

.badge-outline-primary {
    --bs-badge-color: var(--bs-primary);
    --bs-badge-font-weight: normal;
    border: 1px solid var(--bs-primary);
}
