{% extends "layout.html" %}

{% from "macros.html" import invalid_msg_body %}

{% block previous %}/thread/{{ msg.thread }}{% endblock %}

{% block content %}

  <title>Muokkaa viestiä</title>

  <div class="col-4 mt-5">

    <h3 class="mb-4">Muokkaa viestiä</h3>

    <form class="needs-validation" action="/save/{{ msg.id }}" method="POST"
          novalidate>
      <div class="mb-3">
        <input type="text" name="content"
               class="form-control {{ error_if("Invalid content") }}"
               value="{{ msg.content }}" maxlength="100" required autofocus>
        <div class="invalid-feedback">
          {{ invalid_msg_body() }}
        </div>
      </div>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <button type="submit" class="btn btn-primary">Lähetä</button>
    </form>

  </div>

{% endblock %}
