{% extends "layout.html" %}

{% block previous %}/thread/{{ msg.thread }}{% endblock %}

{% block content %}

  <title>Muokkaa viestiä</title>

  <div class="col-4 mt-5">

    <h3 class="mb-4">Muokkaa viestiä</h3>

    <form action="/save/{{ msg.id }}" method="POST">
      <input type="text" class="form-control mb-3" name="content"
             value="{{ msg.content }}" maxlength="100" required autofocus>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <button type="submit" class="btn btn-primary">Lähetä</button>
    </form>

  </div>

{% endblock %}
