{% extends "layout.html" %}

{% from "macros.html" import allowed_title_pattern, invalid_title_msg %}

{% block previous %}/thread/{{ thr.id }}{% endblock %}

{% block content %}

  <title>Muokkaa keskustelua</title>

  {{
    confirm_modal(
      "deletionModal",
      "Poista keskustelu?",
      "/thread/delete/" + (thr.id|string)
    )
  }}

  <div class="col-4 mt-5">

    <h3 class="mb-4">Muokkaa keskustelua</h3>

    <form class="needs-validation" action="/thread/save/{{ thr.id }}"
          method="POST" novalidate>

      <div class="mb-3">
        <label for="title" class="form-label">Otsikko</label>
        <input type="text" id="title" name="title"
               class="form-control {{ error_if("Invalid title") }}"
               value="{{ thr.title }}" pattern="{{ allowed_title_pattern() }}"
               maxlength="30" required autofocus>
        <div class="invalid-feedback">
          {{ invalid_title_msg("otsikko", 30) }}
        </div>
      </div>

      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

      <button type="submit" class="btn btn-primary">Tallenna</button>

    </form>

    <button type="button" class="btn btn-link border-0 p-0 mt-3"
            data-bs-toggle="modal" data-bs-target="#deletionModal">
      Poista keskustelu
    </button>

  </div>

{% endblock %}
