{% extends "layout.html" %}

{% from "macros.html" import allowed_title_pattern, invalid_title_msg %}

{% block previous %}/forums{% endblock %}

{% block content %}

  <title>Luo uusi keskustelualue</title>

  <div class="col-4">

    <h3 class="mb-4">Luo keskustelualue</h3>

    <form class="needs-validation" action="/subforum/create" method="POST"
          novalidate>

      <div class="mb-3">
        <label for="title" class="form-label">Otsikko</label>
        <input type="text" id="title" name="title"
               class="form-control {{ error_if("Invalid title") }}"
               pattern="{{ allowed_title_pattern() }}"
               maxlength="30" required autofocus>
        <div class="invalid-feedback">
          {{ invalid_title_msg("otsikko", 30) }}
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Kuvaus</label>
        <input type="text" id="description" name="description"
               class="form-control {{ error_if("Invalid description") }}"
               pattern="{{ allowed_title_pattern() }}"
               maxlength="100" required>
        <div class="invalid-feedback">
          {{ invalid_title_msg("kuvaus", 100) }}
        </div>
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input"
               id="secret" name="secret">
        <label class="form-check-label" for="secret">Salainen</label>
      </div>

      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

      <button type="submit" class="btn btn-primary">Luo alue</button>

    </form>

  </div>

{% endblock %}
