{% extends "layout.html" %}

{% block previous %}/forums{% endblock %}

{% block content %}

  <title>Luo uusi keskustelualue</title>

  <div class="col-4 mt-5">

    <h3 class="mb-4">Luo keskustelualue</h3>

    <form action="/subforum/create" method="POST">

      <div class="mb-3">
        <label for="title" class="form-label">Otsikko</label>
        <input type="text" class="form-control" id="title" name="title"
               pattern=".*[^\p{Z}\p{C}].*" maxlength="30" required autofocus>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Kuvaus</label>
        <input type="text" class="form-control" id="description"
               name="description" maxlength="100" required>
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input"
               id="secret" name="secret">
        <label class="form-check-label" for="secret">Salainen</label>
      </div>

      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

      <button type="submit" class="btn btn-primary">Luo alue</button>

    </form>

  </div>

  <script>

    const title = document.getElementById("title");

    title.addEventListener("input", event => {
      if (title.validity.patternMismatch) {
        title.setCustomValidity(
          "Otsikon tulee sisältää vähintään yksi tulostuva merkki."
        );
      } else {
        title.setCustomValidity("");
      }
    });

  </script>

{% endblock %}
