{% extends "layout.html" %}

{% block back %}{% endblock %}

{% block content %}

  <title>Keskustelualueet</title>

  <div class="col-4">

    <div class="row justify-content-center">
      <div class="col-auto mb-1">

        <h3 class="d-inline">Keskustelualueet</h3>

        {% if is_admin %}

          <a class="d-inline-block small align-top mt-2 ms-2"
             href="/subforum/new">
            Luo uusi
          </a>

        {% endif %}

      </div>
    </div>

    {% for subforum in subforums %}

      {% if is_admin %}
        {{
          confirm_modal(
            "deletionModal" + (subforum.id|string),
            "Poista keskustelualue?",
            "/subforum/delete/" + (subforum.id|string)
          )
        }}
      {% endif %}

      <div class="row mt-4">
        <div class="col">

          <a class="fw-semibold" href="/subforum/{{ subforum.id }}">
            {{ subforum.title }}
          </a>

          {% if is_admin %}

            {% if subforum.secret %}
              <a class="align-bottom ms-1"
                 href="/subforum/edit/{{ subforum.id }}">
                <i class="bi bi-pencil"></i>
              </a>
            {% endif %}

            <button type="button"
                    class="btn btn-link align-bottom p-0 border-0"
                    data-bs-toggle="modal"
                    data-bs-target="#deletionModal{{ subforum.id }}">
              <i class="bi bi-trash"></i>
            </button>

          {% else %}

            {% if subforum.latest %}
              <span class="small text-black-50">–</span>
            {% endif %}

          {% endif %}

          {% if subforum.latest %}
            <span class="small text-black-50">
              Viimeisin viesti {{ subforum.latest }}
            </span>
          {% endif %}

          <div class="text-body-secondary">{{ subforum.description }}</div>

          <span class="badge rounded-pill badge-outline-primary">
            {% if subforum.threads == 1 %}
              1 keskustelu
            {% else %}
              {{ subforum.threads }} keskustelua
            {% endif %}
          </span>
          <span class="badge rounded-pill badge-outline-primary">
            {% if subforum.messages == 1 %}
              1 viesti
            {% else %}
              {{ subforum.messages }} viestiä
            {% endif %}
          </span>

        </div>
      </div>

    {% else %}

      <div class="row mt-4">
        <div class="col">
          {% if is_admin %}
            Yhtäkään keskustelualuetta ei ole vielä luotu.
          {% else %}
            Ylläpitäjä ei ole luonut vielä yhtäkään keskustelualuetta.
          {% endif %}
        </div>
      </div>

    {% endfor %}

  </div>

{% endblock %}
