{% extends "layout.html" %}

{% block previous %}/{% endblock %}

{% block content %}

  <title>{{ subforum.title }} - Keskustelualue</title>

  <div class="col-4 mt-5">

    <div class="row">
      <div class="col">
        <h3 class="d-inline">{{ subforum.title }}</h3>
        <a class="d-inline-block small align-top mt-2 ms-2"
           href="/thread/new/{{ subforum.id }}">
          Luo uusi keskustelu
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col text-body-secondary mt-2 mb-4">
        {{ subforum.description }}
      </div>
    </div>

    {% if thrs %}

      <div class="row">
        <div class="col">

          <form action="/subforum/{{ subforum.id }}" method="GET">
            <select class="form-select" name="order_by"
                    onchange="this.form.submit()">

              <option value="newest"
                      {% if order_by == "newest" %}selected{% endif %}>
                Uusimmat
              </option>

              <option value="oldest"
                      {% if order_by == "oldest" %}selected{% endif %}>
                Vanhimmat
              </option>

              <option value="most_liked"
                      {% if order_by == "most_liked" %}selected{% endif %}>
                Tykätyimmät
              </option>

              <option value="most_disliked"
                      {% if order_by == "most_disliked" %}selected{% endif %}>
                Vihatuimmat
              </option>

            </select>
          </form>

        </div>
      </div>

    {% endif %}

    {% for thread in thrs %}

      <div class="row mt-4">
        <div class="col">

          <h6 class="mb-0">

            <a class="fw-semibold" href="/thread/{{ thread.id }}">
              {{ thread.title }}
            </a>

            <span class="badge rounded-pill badge-outline-primary">
              {{ thread.first_msg_likes|abs }}
              {% if thread.first_msg_likes < 0 %}
                <i class="bi bi-hand-thumbs-down"></i>
              {% else %}
                <i class="bi bi-hand-thumbs-up"></i>
              {% endif %}
            </span>

          </h6>

          <div class="small text-black-50 lh-1 mt-1">
            Viimeisin viesti {{ thread.time_str }}
          </div>

        </div>
      </div>

    {% else %}

      Keskustelualueella ei ole vielä yhtäkään viestiä.

    {% endfor %}

  </div>

{% endblock %}
