<title>{{ thread.title }} - Viestiketju</title>
<a href="/subforum/{{ thread.subforum }}">← Takaisin</a>
<br><br>
Käyttäjä: <b>{{ session.username }}</b>
<br>
<a href="/logout">Kirjaudu ulos</a>
<h3>{{ thread.title }}</h3>
<hr>
<b>{{ first_msg.user }}:</b> {{ first_msg.content }}
<br>
<a href="/reply/{{ first_msg.id }}">Vastaa</a>
{% if session.username == first_msg.user %}
    &nbsp;<a href="/delete/{{ first_msg.id }}">Poista</a>
{% endif %}
<br>
<b>{{ first_msg.likes }}</b>
{% if first_msg.likes == 1 or first_msg.likes == -1 %}
    <b>tykkäys</b>
{% else %}
    <b>tykkäystä</b>
{% endif %}
{% if first_msg.liked %}
    <a href="/unlike/{{ first_msg.id }}">Poista tykkäys</a>
{% else %}
    <a href="/like/{{ first_msg.id }}">+</a>
    <a href="/dislike/{{ first_msg.id }}">-</a>
{% endif %}
{% for message in first_msg.replies recursive %}
    <hr>
    {{ "&nbsp;"|safe*(loop.depth * 4) }}
    <b>{{ message.user }}:</b> {{ message.content }}
    <br>
    {{ "&nbsp;"|safe*(loop.depth * 4) }}
    <a href="/reply/{{ message.id }}">Vastaa</a>
    {% if session.username == message.user %}
        &nbsp;<a href="/delete/{{ message.id }}">Poista</a>
    {% endif %}
    <br>
    {{ "&nbsp;"|safe*(loop.depth * 4) }}
    <b>{{ message.likes }}</b>
    {% if message.likes == 1 or message.likes == -1 %}
        <b>tykkäys</b>
    {% else %}
        <b>tykkäystä</b>
    {% endif %}
    {% if message.liked %}
        <a href="/unlike/{{ message.id }}">Poista tykkäys</a>
    {% else %}
        <a href="/like/{{ message.id }}">+</a>
        <a href="/dislike/{{ message.id }}">-</a>
    {% endif %}
    {% if message.replies %}
        {{ loop(message.replies) }}
    {% endif %}
{% endfor %}
